<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${product.title}"></title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <style>
    .custom-width {
      width: 70px;
      height: 40px;
    }
  </style>
</head>
<body>

<!-- 导航栏 -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <a class="navbar-brand" href="#">图书交易系统</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
          aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">首页
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/products">图书列表</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" onclick="redirectToUserOrders()">我的订单</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">关于</a>
      </li>
      <span id="adminNavItem"></span>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="搜索图书">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">搜索</button>
      <!-- 添加一个用于显示用户名的元素 -->
      <span id="usernameDisplay"></span>
      <a id="loginBtn" class="btn btn-primary" href="/loginPage" role="button">登录</a>
      <a id="registerBtn" class="btn btn-primary" href="/registerPage" role="button">注册</a>
    </form>
  </div>
</nav>

<!-- 主页面 -->
<div class="container mt-5" style="padding-top: 70px;">
  <div class="row">
    <!-- Product Image -->
    <div class="col-lg-6">
      <img th:src="${product.picture}" alt="Product Image" class="img-fluid" width="400">
    </div>

    <!-- Product Details -->
    <div class="col-lg-6">
      <h2 class="mb-4" th:text="${product.title}">Product Name</h2>
      <p class="lead" th:text="${product.author}"></p>

      <div class="mb-3">
        <span class="font-weight-bold">价格:</span>
        <p class="d-inline-block" th:text="'￥' + ${product.price}"></p>
      </div>


      <div class="mb-3">
        <span class="font-weight-bold">状态:</span> 有货
      </div>

      <!-- Quantity Selector -->
      <div class="mb-3">
        <label for="quantity">选择数目:</label>
        <input type="number" id="quantity" name="quantity" class="form-control custom-width d-inline-block" value="1" min="1">
      </div>
      <!-- Add to Cart Button -->
      <button id="addToCartBtn" th:attr="data-bookId=${product.id}" class="btn btn-primary btn-lg">加入到购物车</button>

    </div>
  </div>

  <!-- Additional Product Information -->
  <div class="row mt-5">
    <div class="col-lg-12">
      <h3>其他信息</h3>
      <ul>
        <li>
          <strong>出版社:</strong>
          <p class="d-inline-block" th:text="${product.publisher}"></p>
        </li>
        <li>
          <strong>页数:</strong>
          <p class="d-inline-block" th:text="${product.page}"></p>
        </li>
        <li>
          <strong>ISBN:</strong>
          <p class="d-inline-block" th:text="${product.isbn}"></p>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- Bootstrap JS 和 Popper.js（如果需要的话）-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
<script src="/js/head.js"></script>
<script>
  document.getElementById("addToCartBtn").addEventListener("click", function() {
    // 获取用户ID、书籍ID和数量
    var bookId = document.getElementById("addToCartBtn").getAttribute("data-bookId");
    var user = JSON.parse(sessionStorage.getItem('user'));
    var userId = user.id
    var quantity = document.getElementById("quantity").value;

    // 创建一个新的XMLHttpRequest对象
    var xhr = new XMLHttpRequest();

    // 配置POST请求
    xhr.open("POST", "/cart/add", true);
    xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

    // 定义回调函数，处理响应
    xhr.onreadystatechange = function() {
      if (xhr.readyState === 4 && xhr.status === 200) {
        // 处理成功响应，可以选择在此处执行一些操作
        window.location.href = "/cart?userId=" + userId; // 重定向到购物车页面
      }
    };

    // 构建POST请求的数据
    var data = "userId=" + userId + "&bookId=" + bookId + "&quantity=" + quantity;

    // 发送POST请求
    xhr.send(data);
  });
</script>

</body>
</html>
