<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fine.bookmanagesystem.mapper.OrderMapper">

    <resultMap id="orderResultMap" type="com.fine.bookmanagesystem.model.Order">
        <id property="id" column="id" />
        <result property="userId" column="user_id" />
        <result property="productId" column="product_id" />
        <result property="quantity" column="quantity" />
        <result property="totalPrice" column="total_price" />
        <result property="orderDate" column="order_date" />
    </resultMap>

    <insert id="createOrder">
        INSERT INTO order (userId, productId, quantity, totalPrice, orderDate)
        VALUES (#{userId}, #{productId}, #{quantity}, #{totalPrice}, #{orderDate});
    </insert>

    <select id="getOrdersByUserId" resultMap="orderResultMap">
        SELECT * FROM order WHERE userId = #{userId};
    </select>

    <select id="getOrderById" resultMap="orderResultMap">
        SELECT * FROM order WHERE id = #{orderId};
    </select>
</mapper>
