<!-- ProductMapper.xml -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fine.bookmanagesystem.mapper.ProductMapper">
    <!-- 查询所有商品 -->
    <select id="getAllProducts" resultType="com.fine.bookmanagesystem.model.Product">
        SELECT * FROM product;
    </select>

    <!-- 根据ID查询商品 -->
    <select id="getProductById" parameterType="java.lang.Integer" resultType="com.fine.bookmanagesystem.model.Product">
        SELECT * FROM product WHERE id = #{id};
    </select>

    <!-- 添加商品 -->
    <insert id="addProduct" parameterType="com.fine.bookmanagesystem.model.Product">
        INSERT INTO product (title, author, price, picture) VALUES (#{title}, #{author}, #{price}, #{picture});
    </insert>

    <!-- 更新商品信息 -->
    <update id="updateProduct" parameterType="com.fine.bookmanagesystem.model.Product">
        UPDATE product SET title = #{title}, author = #{author}, price = #{price} WHERE id = #{id};
    </update>

    <!-- 删除商品 -->
    <delete id="deleteProduct" parameterType="Long">
        DELETE FROM product WHERE id = #{id};
    </delete>
</mapper>
